<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/80133c68e6.js" crossorigin="anonymous"></script>
</head>

<header class="header">
    <div class="header-top">
        <img src="../img/logo-mercado-liebre.svg" class="logo-ml">
        <div class="buscador-lupa">
            <input type="text" placeholder="Buscar todo" class="btn-buscar"><i class="fas fa-search" id="icono-buscar"></i>
        </div>
        <h1 class="h1-cuotas">Comprá en cuotas y sin tarjeta de crédito</h1>
    </div>
    <div class="header-nav">
        <nav class="nav">
            <ul class="nav-ul">
                <div class="div-nav-li">
                    <div class="div-nav-li-left">
                        <li class="nav-li"><a href="#">Ofertas</a></li>
                        <li class="nav-li"><a href="#">Tiendas Oficiales</a></li>
                        <li class="nav-li"><a href="#">Vender</a></li>
                        <li class="nav-li"><a href="#">Ayuda</a></li>
                    </div>          
                    <div class="div-nav-li-right">
                        <i class="fas fa-bars" id="barras"></i>
                        <li class="nav-li"><a href="/register">Creá tu Cuenta</a><i class="fas fa-id-card" id="iconos"></i></li>
                        <li class="nav-li"><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt" id="iconos"></i></li>
                        <li class="nav-li"><a href="#">Mis Compras</a><i class="fas fa-shopping-basket" id="iconos"></i></li>
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>

<body class="body">
    <main class="seccion-main">
        <div class="banner-container">
            <img src="../img/img-home-banner.jpg" class="banner-ml">
        </div>
        <h2 class="titulos">Sección de Ofertas</h1>
    <div class="seccion-ofertas">
        <div class="product-container">
            <div class="div-producto">
                <img src="../img/img-macbook-pro-2019.jpg" class="fotos-productos">
                <div class="div-separador">        
                    <i class="fas fa-truck" id="icono-envio"></i>       
                    <p>$230.000</p>
                    <p class="off">20% off</p>
                    <p class="descripcion"><b>MacBook Pro 2019</b></p>               
                </div>
            </div>
        </div>
        <div class="product-container">
            <div class="div-producto">
                <img src="../img/img-samsung-galaxy-s10.jpg" class="fotos-productos">
                <div class="div-separador">
                    <i class="fas fa-truck" id="icono-envio"></i>
                    <p>$70.500</p>
                    <p class="off">10% off</p>
                    <p class="descripcion"><b>Samsung Galaxy S10</b></p>                
                </div>
            </div>
        </div>
        <div class="product-container">
            <div class="div-producto">
                <img src="../img/img-tv-samsung-smart.jpg" class="fotos-productos">
                <div class="div-separador">
                    <i class="fas fa-truck" id="icono-envio"></i>
                    <p>$140.000</p>
                    <p class="off">30% off</p>
                    <p class="descripcion"><b>Smart TV Samsung 50'</b></p>                
                </div>
            </div>
        </div>
        <div class="product-container">
            <div class="div-producto">
                <img src="../img/img-cafetera-moulinex.jpg" class="fotos-productos">
                <div class="div-separador">
                    <i class="fas fa-truck" id="icono-envio"></i>
                    <p>$6.770</p>
                    <p class="off">40% off</p>
                    <p class="descripcion"><b>Cafetera Moulinex</b></p>                
                </div>
            </div>
        </div>
    </div>
        </div>    
            <h1 class="titulos">Basado en tu última visita</h1>
        <div class="seccion-ultima-vista">
            <div class="product-container-vista">
                <div class="div-producto">
                    <img src="../img/img-cafetera-moulinex.jpg" class="fotos-productos">
                    <div class="div-separador">
                        <i class="fas fa-truck" id="icono-envio"></i>
                        <p>$6.770</p>
                        <p class="off">40% off</p>
                        <p class="descripcion"><b>Cafetera Moulinex</b></p>                
                    </div>
                </div>
            </div>
        
    </main> 
</body>

<div class="filler-div"></div>

<footer>
    <div class="footer-container">
        <div class="ml-cash">
            <i class="fas fa-credit-card" id="iconos-footer"></i>
            <h1 id="footerInfo"><b>Pagá con tarjeta o efectivo</b></h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de pago. </br>¡Y siempre es seguro!</p>
        </div>
        <div class="envio-gratis">
            <i class="fas fa-gift" id="iconos-footer"></i>
            <h2 id="footerInfo"><b>Envío gratis desde $ 2.500</b></h1>
            <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de productos. </br>Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="devolucion">
            <i class="fas fa-shield-alt" id="iconos-footer"></i>
            <h3 id="footerInfo"><b>Seguridad, de principio a fin</b></h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>no hay nada que no puedas hacer,</br>porque estás siempre protegid@.</p>
        </div>
        <div class="copyright">
            <h4 id="footerInfo"><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></h1>
        </div>
    </div>
</footer>

</html>