<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Libre</title>
        <link rel="stylesheet" type="text/css" href="/css/registro.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://kit.fontawesome.com/80133c68e6.js" crossorigin="anonymous"></script>
    </head>
    <header class="header">
        <div class="header-top">
            <img src="../img/logo-mercado-liebre.svg" class="logo-ml">
            <div class="buscador-lupa">
                <input type="text" placeholder="Buscar todo" class="btn-buscar"><i class="fas fa-search" id="icono-buscar"></i>
            </div>
            <h1 class="h1-cuotas">Comprá en cuotas y sin tarjeta de crédito</h1>
        </div>
        <div class="header-nav">
            <nav class="nav">
                <ul class="nav-ul">
                    <div class="div-nav-li">
                        <div class="div-nav-li-left">
                            <li class="nav-li"><a href="#">Ofertas</a></li>
                            <li class="nav-li"><a href="#">Tiendas Oficiales</a></li>
                            <li class="nav-li"><a href="#">Vender</a></li>
                            <li class="nav-li"><a href="#">Ayuda</a></li>
                        </div>          
                        <div class="div-nav-li-right">
                            <i class="fas fa-bars" id="barras"></i>
                            <li class="nav-li"><a href="#">Creá tu Cuenta</a><i class="fas fa-id-card" id="iconos"></i></li>
                            <li class="nav-li"><a href="#">Ingresá</a><i class="fas fa-sign-in-alt" id="iconos"></i></li>
                            <li class="nav-li"><a href="#">Mis Compras</a><i class="fas fa-shopping-basket" id="iconos"></i></li>
                        </div>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    
    <body class="body">
        <main class="seccion-main">
            <div class="div-register">
            <form id="formulario-registro">
                <div id="name">
                    <input type="text" placeholder="Nombre y apellido" id="input-reigstro" required>
                    <input type="text" placeholder="Nombre de usuario" id="input-reigstro" required>
                    <input type="email" placeholder="E-mail" id="input-reigstro" required>
                </div>
                <div class="div-info">
                <label for="nacimiento" class="titulo-nacimiento">Fecha de nacimiento</label><br>
                    <input type="date" id="input-nacimiento" name="nacimiento" required><br>
                    <input type="text" placeholder="Domicilio" id="domicilio" required><br>
                <p class="perfil-usuario">Perfil de usuario</p><br>
                    <input type="radio" id="perfil" value="Comprador">
                    <label for="perfil">Comprador</label>
                    <input type="radio" id="perfil" value="Vendedor">
                    <label for="perfil">Vendedor</label><br>
                <p class="intereses-usuario">Intereses</p><br>
                    <input type="checkbox" id="intereses" value="Electro">
                    <label for="intereses">Electro</label><br>
                    <input type="checkbox" id="intereses" value="Moda">
                    <label for="intereses">Moda</label><br>
                    <input type="checkbox" id="intereses" value="Hogar">
                    <label for="intereses">hogar</label><br>
                    <input type="checkbox" id="intereses" value="Juguetería">
                    <label for="intereses">Juguetería</label><br>
                    <input type="checkbox" id="intereses" value="Vida sana">
                    <label for="intereses">Vida sana</label><br>
                <p class="foto-perfil">Foto de perfil</p>
                    <input type="file" id="mi-foto" name="foto-perfil" accept=".jpg" multiple><br>
                    <input type="password" class="psw" placeholder="contraseña" required><br>
                    <input type="password" class="psw-confirmar" placeholder="contraseña" required><br>
                    <input type="submit" class="btn-enviar" value="Enviar" href="home.html"></button>
                    <input type="submit" value="Borrar todo">
                </div>
            </form>
            </div>
        </main> 
    </body>
    
    <div class="filler-div"></div>
    
    <footer>
        <div class="footer-container">
            <div class="ml-cash">
                <i class="fas fa-credit-card" id="iconos-footer"></i>
                <h1 id="footerInfo"><b>Pagá con tarjeta o efectivo</b></h1>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de pago. </br>¡Y siempre es seguro!</p>
            </div>
            <div class="envio-gratis">
                <i class="fas fa-gift" id="iconos-footer"></i>
                <h2 id="footerInfo"><b>Envío gratis desde $ 2.500</b></h1>
                <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de productos. </br>Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="devolucion">
                <i class="fas fa-shield-alt" id="iconos-footer"></i>
                <h3 id="footerInfo"><b>Seguridad, de principio a fin</b></h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>no hay nada que no puedas hacer,</br>porque estás siempre protegid@.</p>
            </div>
            <div class="copyright">
                <h4 id="footerInfo"><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></h1>
            </div>
        </div>
    </footer>
</html>